@charset "UTF-8";
/*
 * A partial implementation of the Ruby list functions from Compass:
 * https://github.com/Compass/compass/blob/stable/lib/compass/sass_extensions/functions/lists.rb
 */
/*
 * A partial implementation of the Ruby constants functions from Compass:
 * https://github.com/Compass/compass/blob/stable/lib/compass/sass_extensions/functions/constants.rb
 */
/*
 * A partial implementation of the Ruby display functions from Compass:
 * https://github.com/Compass/compass/blob/stable/core/lib/compass/core/sass_extensions/functions/display.rb
 */
/*
================================================================================
SPINNERS
================================================================================
A Sass mixin to generate a pure CSS3 loading/busy indicator.
https://github.com/franzheidl/spinners
Franz Heidl 2014
MIT License
--------------------------------------------------------------------------------
USAGE

Default:

.my-spinner {
 @include spinner();
}


Custom:

.my-spinner {
 @include spinner(1.25em, 3px solid #555, .7s, background rgba(0, 0, 0, .2);
}

All arguments are optional.

Acceppts any valid CSS dimensional declaration, e.g px, em, rem as an argument for size.

Use either shorthand border declarations or individual 'border-[property] [value]' (no colon!) pairs for the style.

Pass any number of seconds referring to the duration of one full rotation for animation speed.

--------------------------------------------------------------------------------
*/
@-webkit-keyframes spinner-animation {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes spinner-animation {
  0% {
    -moz-transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(360deg); } }

@-o-keyframes spinner-animation {
  0% {
    -o-transform: rotate(0deg); }
  100% {
    -o-transform: rotate(100deg); } }

@keyframes spinner-animation {
  0% {
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg); } }

/**
 * Clearfix: contain floats
 * https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/main.css
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 * `contenteditable` attribute is included anywhere else in the document.
 * Otherwise it causes space to appear at the top and bottom of elements
 * that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 * `:before` to contain the top-margins of child elements.
 */
/**
 * @file
 * AngularJS.
 */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

/**
 * @file
 * Footnotes.
 */
ul.footnotes {
  font-size: 13px;
  font-size: 0.92857rem;
  margin-top: 3.14286em;
  padding-top: 0.39286em;
  padding-bottom: 0em;
  margin-bottom: 1.57143em;
  border-top: 1px solid #c8c8c8;
  list-style: none; }
  ul.footnotes li {
    font-size: 13px;
    font-size: 0.92857rem;
    position: relative;
    margin: 0;
    padding: 0.15em 0.5em;
    list-style: none; }
    ul.footnotes li .footnote-label {
      position: relative;
      top: auto;
      left: auto;
      margin-right: 0.5em; }
    ul.footnotes li a:not(.footnote-label) {
      word-wrap: break-word;
      overflow-wrap: break-word;
      -ms-word-break: break-word;
      word-break: break-word;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto; }

.see-footnote:target,
.footnotes .footnote:target {
  background-color: #e9e9e9; }

.see-footnote:target {
  border: solid 1px #e9e9e9; }

/**
 * @file
 * Form elements.
 */
.touchevents input[type="email"],
.touchevents input[type="password"],
.touchevents input[type="tel"],
.touchevents input[type="text"],
.touchevents select,
.touchevents textarea {
  font-size: 16px; }

input[type="email"],
input[type="password"],
input[type="tel"],
input[type="text"] {
  font-size: 14px;
  font-size: 1rem;
  background: #FFF;
  border: 2px solid #c8c8c8;
  padding: 0.5em 0.5em; }
  input[type="email"].error,
  input[type="password"].error,
  input[type="tel"].error,
  input[type="text"].error {
    border-color: #DD0000; }
  input[type="email"]:focus,
  input[type="password"]:focus,
  input[type="tel"]:focus,
  input[type="text"]:focus {
    border-color: #1b8898;
    outline: none; }

select {
  font-size: 14px;
  font-size: 1rem; }

textarea {
  font-size: 14px;
  font-size: 1rem;
  background: #FFF;
  border: 2px solid #c8c8c8;
  padding: 0.75em 0.75em; }
  textarea.error {
    border-color: #DD0000; }
  textarea:focus {
    border-color: #1b8898;
    outline: none; }

button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  font-size: 13px;
  font-size: 0.92857rem;
  color: #FFF;
  background: #0A2D50;
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-color: #0A2D50;
  line-height: 1.2;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  padding: 0.8em 1.4em;
  -webkit-border-radius: 0.33em;
  border-radius: 0.33em;
  font-weight: bold; }
  button:visited,
  .button:visited,
  input[type="button"]:visited,
  input[type="reset"]:visited,
  input[type="submit"]:visited {
    color: #FFF;
    text-decoration: none;
    outline: none; }
  button:active,
  button:focus,
  button:hover,
  .button:active,
  .button:focus,
  .button:hover,
  input[type="button"]:active,
  input[type="button"]:focus,
  input[type="button"]:hover,
  input[type="reset"]:active,
  input[type="reset"]:focus,
  input[type="reset"]:hover,
  input[type="submit"]:active, input[type="submit"]:focus, input[type="submit"]:hover {
    color: #FFF;
    background: #1b8898;
    border-color: #1b8898;
    text-decoration: none;
    outline: none; }

.form-item label:not(.option),
.form-actions label:not(.option) {
  font-size: 13px;
  font-size: 0.92857rem;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.39286em;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold; }

input[type="checkbox"] + label.option,
input[type="radio"] + label.option {
  padding-left: 0.5em; }

.form-item {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.57143em; }

.form-actions {
  margin-top: 2.35714em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.57143em; }

.form-item .description,
.form-actions .description {
  font-size: 13px;
  font-size: 0.92857rem;
  margin-top: 0.39286em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.39286em; }

/**
 * @file
 * Grid.
 */
.l-constrained {
  margin: 0 auto; }
  .l-constrained:before, .l-constrained:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .l-constrained:after {
    clear: both; }

/**
 * @file
 * Helper classes.
 */
.clearfix:before, .clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

.column-break-before {
  -webkit-column-break-before: always;
  column-break-before: always; }

/**
 * @file
 * Lists.
 */
ol,
ul {
  font-size: 14px;
  font-size: 1rem;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.96429em; }

li {
  margin-top: 0.23571em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.23571em; }

/**
 * @file
 * Media elements.
 */
embed,
object {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

figure {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.96429em;
  margin-left: 0;
  margin-right: 0; }
  figure figcaption {
    padding: 0.5em 0 0; }

iframe {
  width: 100%; }

picture {
  display: inline-block;
  -webkit-box-sizing: padding-box;
     -moz-box-sizing: padding-box;
          box-sizing: padding-box;
  vertical-align: top; }

img,
a img,
*:link img,
*:visited img {
  border: none;
  -webkit-box-sizing: padding-box;
     -moz-box-sizing: padding-box;
          box-sizing: padding-box;
  height: auto;
  max-width: 100%;
  vertical-align: top;
  -ms-interpolation-mode: bicubic; }

.fluid-width-video-wrapper {
  position: relative;
  width: 100%;
  padding: 0; }

.fluid-width-video-wrapper iframe,
.fluid-width-video-wrapper object,
.fluid-width-video-wrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/**
 * @file
 * Typography.
 */
/**
 * Fonts
 */
* html {
  font-size: 87.5%; }

html {
  font-size: 14px;
  line-height: 1.57143em; }

/**
 * Base
 */
body {
  font-family: Helvetica, Arial, sans-serif;
  color: #222; }

/**
 * Links
 */
a {
  color: #1b8898;
  text-decoration: none; }
  a:visited {
    color: #1b8898; }
  a:focus {
    color: #1b8898; }
  a:hover {
    color: #1b8898; }
  a:active {
    color: #1b8898; }
  a:visited {
    text-decoration: none; }
  a:active, a:focus, a:hover {
    text-decoration: underline; }

/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.57143em;
  padding-top: 0em;
  padding-bottom: 0.15714em;
  margin-bottom: 0.86429em;
  line-height: 1.4;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: normal; }
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    color: inherit;
    text-decoration: none; }
    h1 a:visited,
    h2 a:visited,
    h3 a:visited,
    h4 a:visited,
    h5 a:visited,
    h6 a:visited {
      color: inherit;
      text-decoration: none; }

h1 {
  font-size: 32px;
  font-size: 2.28571rem;
  margin-top: 1.57143em;
  padding-top: 0em;
  padding-bottom: 0.11786em;
  margin-bottom: 1.17857em; }

h2 {
  font-size: 24px;
  font-size: 1.71429rem; }

h3,
h4,
h5,
h6 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold; }

h3 {
  font-size: 18px;
  font-size: 1.28571rem; }

h4,
h5,
h6 {
  font-size: 16px;
  font-size: 1.14286rem; }

/**
 * Paragraphs
 */
p,
blockquote {
  font-size: 14px;
  font-size: 1rem;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.96429em; }

p + img {
  float: left;
  margin-right: 1em; }

/**
 * Quotes
 */
blockquote {
  font-size: 16px;
  font-size: 1.14286rem;
  line-height: 1.57143;
  margin-top: 1.57143em;
  padding-top: 1.17857em;
  padding-bottom: 1.17857em;
  margin-bottom: 1.57143em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  border-left: 4px solid #e9e9e9;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  color: #222; }
  blockquote p,
  blockquote ol,
  blockquote ul {
    font-size: 16px;
    font-size: 1.14286rem;
    line-height: 1.57143; }
  blockquote > p:last-child,
  blockquote > ol:last-child,
  blockquote > ul:last-child {
    margin-bottom: 0; }

q {
  font-style: italic; }

.highlight {
  background: #FFFF00; }

/**
 * Admin menu
 */
#admin-menu,
#admin-menu .dropdown {
  font-size: 11px;
  font-size: 0.78571rem; }

/**
 * Devel
 */
div.krumo-root {
  font-family: Helvetica, Arial, sans-serif;
  text-transform: none; }
  div.krumo-root ol,
  div.krumo-root ul {
    font-size: 12px;
    font-size: 0.85714rem; }

/*----------------------------------------------------------------------
>= 752
----------------------------------------------------------------------*/
@media (min-width: 47em) {
  blockquote {
    margin-left: 3em;
    margin-right: 3em;
    padding-left: 2.5em;
    padding-right: 2.5em; } }

/*----------------------------------------------------------------------
>= 1008
----------------------------------------------------------------------*/
@media (min-width: 63em) {
  h1 {
    font-size: 34px;
    font-size: 2.42857rem; } }

/*----------------------------------------------------------------------
>= 1920
----------------------------------------------------------------------*/
@media (min-width: 120em) {
  html {
    font-size: 137.5%; } }

/**
 * @file
 * Comments.
 */
.comments .indented {
  margin-left: 3em; }

.comments__title,
.comments__form-title {
  font-size: 16px;
  font-size: 1.14286rem;
  margin-top: 4.32143em;
  padding-top: 0em;
  padding-bottom: 0.31429em;
  margin-bottom: 1.57143em;
  border-bottom: 1px solid #c8c8c8;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase; }

.comment {
  margin: 1em 0;
  padding: 0; }

.comment--new {
  background: #fefacd;
  padding: 1em 1em; }
  .comment--new .new {
    -webkit-border-radius: 0.33em;
    border-radius: 0.33em;
    font-size: 11px;
    font-size: 0.78571rem;
    display: inline-block;
    padding: 0.1em 0.5em;
    margin: 0 0 1em;
    background: #DD0000;
    color: #FFF; }

.comment__info {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
  font-size: 0.85714rem;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.57143em;
  color: #7a7a7a; }
  .comment__info p {
    font-size: 12px;
    font-size: 0.85714rem;
    margin-top: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
    margin-bottom: 0em; }
  .comment__info a.username,
  .comment__info .permalink {
    text-decoration: none; }
    .comment__info a.username:visited,
    .comment__info .permalink:visited {
      text-decoration: none; }
    .comment__info a.username:active,
    .comment__info a.username:focus,
    .comment__info a.username:hover,
    .comment__info .permalink:active, .comment__info .permalink:focus, .comment__info .permalink:hover {
      text-decoration: underline; }
  .comment__info .username {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-size: 1rem;
    color: #222;
    font-weight: bold; }
  .comment__info a.username {
    color: #222; }
    .comment__info a.username:visited {
      color: #222; }
    .comment__info a.username:focus {
      color: #1b8898; }
    .comment__info a.username:hover {
      color: #1b8898; }
    .comment__info a.username:active {
      color: #1b8898; }
  .comment__info .permalink {
    margin-left: 0.5em; }
  .comment__info .time {
    margin-left: 0.5em; }

.comment__content a {
  text-decoration: underline; }
  .comment__content a:visited {
    text-decoration: underline; }
  .comment__content a:active, .comment__content a:focus, .comment__content a:hover {
    text-decoration: none; }

.comment__content p,
.comment__content ol,
.comment__content ul {
  font-size: 14px;
  font-size: 1rem; }

.comment__submitted {
  display: inline; }

.talk-page > .links a,
.comment__links a,
.ckeditor_links {
  font-size: 12px;
  font-size: 0.85714rem;
  color: #7a7a7a;
  background: transparent;
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-color: #c8c8c8;
  line-height: 1.2;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  padding: 0.6em 0.8em;
  -webkit-border-radius: 0.33em;
  border-radius: 0.33em;
  font-weight: normal; }
  .talk-page > .links a:visited,
  .comment__links a:visited,
  .ckeditor_links:visited {
    color: #7a7a7a;
    text-decoration: none;
    outline: none; }
  .talk-page > .links a:active,
  .talk-page > .links a:focus,
  .talk-page > .links a:hover,
  .comment__links a:active,
  .comment__links a:focus,
  .comment__links a:hover,
  .ckeditor_links:active, .ckeditor_links:focus, .ckeditor_links:hover {
    color: #FFF;
    background: #1b8898;
    border-color: #1b8898;
    text-decoration: none;
    outline: none; }

.ckeditor_links {
  margin: 1.5em 0 0; }

.comment__links li {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em; }

.form-item-comment-body-und-0-value label {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px; }

.comment-confirm-delete .form-actions button,
.comment-confirm-delete .form-actions .button,
.comment-confirm-delete .form-actions input[type="button"],
.comment-confirm-delete .form-actions input[type="reset"],
.comment-confirm-delete .form-actions input[type="submit"] {
  margin-right: 1em; }

/*----------------------------------------------------------------------
>= 752
----------------------------------------------------------------------*/
@media (min-width: 47em) {
  .comments .indented {
    margin-left: 4em; }
  .comment {
    margin: 2.5em 0; } }

/**
 * @file
 * Styling for the filter module.
 */
.filter-wrapper {
  -webkit-border-radius: 0.33em;
  border-radius: 0.33em;
  background: #f4f4f4;
  border: none;
  margin: 1em 0;
  padding: 0; }
  .filter-wrapper .form-item {
    font-size: 13px;
    font-size: 0.92857rem;
    float: none;
    padding: 1.5em 1.5em 0; }
    .filter-wrapper .form-item label {
      margin-right: 1em; }

.filter-help {
  display: none;
  padding: 0; }
  .filter-help p {
    font-size: 13px;
    font-size: 0.92857rem;
    margin: 0; }
  .filter-help a {
    background: none;
    padding: 0; }

.filter-guidelines {
  padding: 0; }

.tips {
  font-size: 12px;
  font-size: 0.85714rem;
  margin: 1.5em 1.5em;
  padding-left: 2em; }

/**
 * @file
 * Breadcrumb.
 */
.breadcrumb {
  margin: 0;
  padding: 0;
  border: 0; }
  .breadcrumb:before, .breadcrumb:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .breadcrumb:after {
    clear: both; }
  .breadcrumb li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    display: inline;
    float: left; }
  .breadcrumb li {
    padding-right: 0.4em; }
    .breadcrumb li:after {
      content: "»";
      padding-left: 0.4em;
      vertical-align: baseline; }
    .breadcrumb li:last-child:after {
      content: ""; }
  .breadcrumb a {
    text-decoration: none; }

/**
 * @file
 * Messages.
 */
.messages {
  font-size: 13px;
  font-size: 0.92857rem;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  padding: 1em 1em;
  margin: 0 auto 3em; }
  .messages a,
  .messages a:visited {
    color: inherit; }

.messages.status,
.messages--status {
  color: #006699;
  background: transparent;
  border: 1px dashed #00aaff; }

.messages.warning,
.messages--warning {
  color: #FF9900;
  background: transparent;
  border: 1px dashed #ffc266; }

.messages.error,
.messages--error {
  color: #DD0000;
  background: transparent;
  border: 1px dashed #ff4444; }

.messages-inline {
  font-size: 13px;
  font-size: 0.92857rem;
  font-weight: normal;
  font-style: italic;
  text-transform: none;
  padding: 0; }
  .messages-inline.status,
  .messages-inline.warning,
  .messages-inline.error {
    border: none; }
  .messages-inline .icon {
    font-size: 16px;
    font-size: 1.14286rem;
    margin-top: 0.125em; }

body {
  background: #0A2D50; }

.l-header {
  padding: 1em 0;
  background: #20A3B6;
  color: #FFF; }
  .l-header:before, .l-header:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .l-header:after {
    clear: both; }
  .l-header .l-constrained {
    width: 86%;
    margin: 0 auto; }
  .l-header .l-masthead {
    width: 37.5%;
    float: left;
    margin-right: -100%;
    clear: none;
    padding-right: 1em;
    margin-top: 0.39286em;
    padding-top: 0em;
    padding-bottom: 0em;
    margin-bottom: 0.39286em; }
    .l-header .l-masthead .l-branding .l-logo a[class^="icon-"], .l-header .l-masthead .l-branding .l-logo a[class*=" icon-"] {
      font-size: 30px;
      font-size: 2.14286rem;
      line-height: 1; }
    .l-header .l-masthead .l-branding .l-site-name {
      font-size: 20px;
      font-size: 1.42857rem;
      margin-top: 0em;
      padding-top: 0em;
      padding-bottom: 0em;
      margin-bottom: 0em; }
      .l-header .l-masthead .l-branding .l-site-name a {
        color: #FFF;
        text-decoration: none; }
        .l-header .l-masthead .l-branding .l-site-name a:visited {
          color: #FFF; }
        .l-header .l-masthead .l-branding .l-site-name a:focus {
          color: #FFF; }
        .l-header .l-masthead .l-branding .l-site-name a:hover {
          color: #FFF; }
        .l-header .l-masthead .l-branding .l-site-name a:active {
          color: #FFF; }
        .l-header .l-masthead .l-branding .l-site-name a:visited {
          text-decoration: none; }
        .l-header .l-masthead .l-branding .l-site-name a:active, .l-header .l-masthead .l-branding .l-site-name a:focus, .l-header .l-masthead .l-branding .l-site-name a:hover {
          text-decoration: underline; }
      .l-header .l-masthead .l-branding .l-site-name .blinking-cursor {
        padding-left: 0.15em;
        color: #FFF;
        font-weight: normal;
        font-size: 1.2em;
        font-family: Helvetica, Arial, sans-serif;
        -webkit-animation: 1s blink step-end infinite;
        -moz-animation: 1s blink step-end infinite;
        -o-animation: 1s blink step-end infinite;
           animation: 1s blink step-end infinite; }
        .l-header .l-masthead .l-branding .l-site-name .blinking-cursor:before {
          content: "|"; }

@-webkit-keyframes blink {
  from, to {
    color: transparent; }
  50% {
    color: #FFF; } }

@-moz-keyframes blink {
  from, to {
    color: transparent; }
  50% {
    color: #FFF; } }

@-o-keyframes blink {
  from, to {
    color: transparent; }
  50% {
    color: #FFF; } }

@keyframes blink {
  from, to {
    color: transparent; }
  50% {
    color: #FFF; } }
    .l-header .l-masthead .l-region--navigation .menu {
      font-size: 16px;
      font-size: 1.14286rem;
      list-style: none;
      margin: 0;
      padding: 0; }
      .l-header .l-masthead .l-region--navigation .menu li {
        list-style: none;
        margin: 0;
        padding: 0; }
        .l-header .l-masthead .l-region--navigation .menu li a {
          color: #FFF;
          text-decoration: none; }
          .l-header .l-masthead .l-region--navigation .menu li a:visited {
            color: #FFF; }
          .l-header .l-masthead .l-region--navigation .menu li a:focus {
            color: #FFF; }
          .l-header .l-masthead .l-region--navigation .menu li a:hover {
            color: #FFF; }
          .l-header .l-masthead .l-region--navigation .menu li a:active {
            color: #FFF; }
          .l-header .l-masthead .l-region--navigation .menu li a:visited {
            text-decoration: none; }
          .l-header .l-masthead .l-region--navigation .menu li a:active, .l-header .l-masthead .l-region--navigation .menu li a:focus, .l-header .l-masthead .l-region--navigation .menu li a:hover {
            text-decoration: underline; }
  .l-header .l-user {
    width: 62.5%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding-right: 0;
    margin-top: 0.39286em;
    padding-top: 0em;
    padding-bottom: 0em;
    margin-bottom: 0.39286em; }
    .l-header .l-user .menu {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: right; }
      .l-header .l-user .menu li {
        display: inline-block;
        list-style: none;
        margin: 0;
        padding: 0; }
        .l-header .l-user .menu li a {
          font-size: 12px;
          font-size: 0.85714rem;
          color: #FFF;
          background: transparent;
          display: inline-block;
          border-width: 1px;
          border-style: solid;
          border-color: #FFF;
          line-height: 1.2;
          font-family: Helvetica, Arial, sans-serif;
          font-weight: bold;
          text-decoration: none;
          cursor: pointer;
          padding: 0.6em 0.8em;
          -webkit-border-radius: 0.33em;
          border-radius: 0.33em;
          font-weight: normal; }
          .l-header .l-user .menu li a:visited {
            color: #FFF;
            text-decoration: none;
            outline: none; }
          .l-header .l-user .menu li a:active, .l-header .l-user .menu li a:focus, .l-header .l-user .menu li a:hover {
            color: #FFF;
            background: #1b8898;
            border-color: #1b8898;
            text-decoration: none;
            outline: none; }

.no-bgsizecover .l-header {
  background-image: none !important; }

.bgsizecover .l-header {
  background-repeat: no-repeat;
  background-position: 50% 100%;
  -webkit-background-size: cover;
  background-size: cover; }

.l-main {
  background: #0A2D50; }
  .l-main:before, .l-main:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .l-main:after {
    clear: both; }
  .l-main .l-breadcrumb {
    background: #e9e9e9;
    padding: 0.66em 1em;
    -webkit-border-radius: 0.33em;
    border-radius: 0.33em; }
    .l-main .l-breadcrumb .breadcrumb {
      font-size: 13px;
      font-size: 0.92857rem; }
      .l-main .l-breadcrumb .breadcrumb ol, .l-main .l-breadcrumb .breadcrumb ul {
        margin-top: 0em;
        padding-top: 0em;
        padding-bottom: 0em;
        margin-bottom: 0em; }
      .l-main .l-breadcrumb .breadcrumb li {
        margin-top: 0em;
        padding-top: 0em;
        padding-bottom: 0em;
        margin-bottom: 0em; }
        .l-main .l-breadcrumb .breadcrumb li a {
          text-decoration: none; }
          .l-main .l-breadcrumb .breadcrumb li a:visited {
            text-decoration: none; }
          .l-main .l-breadcrumb .breadcrumb li a:active, .l-main .l-breadcrumb .breadcrumb li a:focus, .l-main .l-breadcrumb .breadcrumb li a:hover {
            text-decoration: underline; }
  .l-main .l-content {
    background: #FFF;
    color: #222; }
    .l-main .l-content .l-constrained {
      width: 86%;
      margin: 0 auto;
      padding: 2em 0 1em; }
    .l-main .l-content .tabs--primary {
      font-size: 13px;
      font-size: 0.92857rem;
      margin-top: 0em;
      padding-top: 0em;
      padding-bottom: 0em;
      margin-bottom: 3.14286em;
      border-bottom: 1px solid #c8c8c8; }
      .l-main .l-content .tabs--primary li {
        margin: 0 0 -1px; }
        .l-main .l-content .tabs--primary li a {
          background: none;
          padding: 0.6em 1.5em;
          color: #20A3B6;
          -webkit-border-top-left-radius: 0.33em;
          border-top-left-radius: 0.33em;
          -webkit-border-top-right-radius: 0.33em;
          border-top-right-radius: 0.33em; }
          .l-main .l-content .tabs--primary li a:visited {
            color: #20A3B6; }
          .l-main .l-content .tabs--primary li a:focus {
            color: #222; }
          .l-main .l-content .tabs--primary li a:hover {
            color: #222; }
          .l-main .l-content .tabs--primary li a:active {
            color: #222; }
          .l-main .l-content .tabs--primary li a:active, .l-main .l-content .tabs--primary li a:focus, .l-main .l-content .tabs--primary li a:hover {
            background: #e9e9e9;
            text-decoration: none; }
          .l-main .l-content .tabs--primary li a.active {
            color: #222;
            border: 1px solid #c8c8c8;
            border-bottom: none;
            background: #FFF; }
            .l-main .l-content .tabs--primary li a.active:visited {
              color: #222; }
            .l-main .l-content .tabs--primary li a.active:focus {
              color: #222; }
            .l-main .l-content .tabs--primary li a.active:hover {
              color: #222; }
            .l-main .l-content .tabs--primary li a.active:active {
              color: #222; }
    .l-main .l-content .user-login .form-item,
    .l-main .l-content .user-pass .form-item {
      margin-top: 0em;
      padding-top: 0em;
      padding-bottom: 0em;
      margin-bottom: 1.57143em; }
      .l-main .l-content .user-login .form-item + .messages-inline,
      .l-main .l-content .user-pass .form-item + .messages-inline {
        margin-top: -1.57143em;
        padding-top: 0em;
        padding-bottom: 0em;
        margin-bottom: 1.57143em; }
      .l-main .l-content .user-login .form-item .description,
      .l-main .l-content .user-pass .form-item .description {
        display: none; }
    .l-main .l-content .user-login input[type="email"],
    .l-main .l-content .user-login input[type="password"],
    .l-main .l-content .user-login input[type="tel"],
    .l-main .l-content .user-login input[type="text"],
    .l-main .l-content .user-pass input[type="email"],
    .l-main .l-content .user-pass input[type="password"],
    .l-main .l-content .user-pass input[type="tel"],
    .l-main .l-content .user-pass input[type="text"] {
      width: 100%;
      max-width: 20em; }
  .l-main .l-region--sidebar {
    display: none; }

.l-footer {
  padding: 0.25em 0;
  background: #0A2D50;
  color: #aeb8c3; }
  .l-footer:before, .l-footer:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .l-footer:after {
    clear: both; }
  .l-footer .l-constrained {
    width: 86%;
    margin: 0 auto; }
  .l-footer a {
    color: #2fc5da;
    text-decoration: none; }
    .l-footer a:visited {
      color: #2fc5da; }
    .l-footer a:focus {
      color: #2fc5da; }
    .l-footer a:hover {
      color: #2fc5da; }
    .l-footer a:active {
      color: #2fc5da; }
    .l-footer a:visited {
      text-decoration: none; }
    .l-footer a:active, .l-footer a:focus, .l-footer a:hover {
      text-decoration: underline; }
  .l-footer .block--footer-message {
    text-align: center; }
    .l-footer .block--footer-message p {
      font-size: 12px;
      font-size: 0.85714rem;
      margin-top: 1.57143em;
      padding-top: 0em;
      padding-bottom: 0em;
      margin-bottom: 1.57143em; }
  .l-footer .block--menu-menu-footer-menu .menu {
    list-style: none;
    margin: -0.5em 0 1em;
    padding: 0;
    text-align: center; }
    .l-footer .block--menu-menu-footer-menu .menu li {
      display: inline;
      list-style: none;
      margin: 0 2em 0 0;
      padding: 0; }
      .l-footer .block--menu-menu-footer-menu .menu li:last-child {
        margin-right: 0; }
  .l-footer .block--menu-menu-footer-menu a[class^="icon-"], .l-footer .block--menu-menu-footer-menu a[class*=" icon-"] {
    font-size: 30px;
    font-size: 2.14286rem;
    line-height: 1; }

/*----------------------------------------------------------------------
>= 752
----------------------------------------------------------------------*/
@media (min-width: 47em) {
  .l-header {
    padding: 1.5em 0; }
  .l-main .l-content .l-constrained {
    padding: 3.5em 0 2em; }
  .l-footer {
    padding: 1.5em 0; } }

/*----------------------------------------------------------------------
>= 1008
----------------------------------------------------------------------*/
@media (min-width: 63em) {
  .l-header {
    padding: 2em 0; }
    .l-header .l-constrained {
      width: 82.5%; }
    .l-header .l-masthead {
      width: 75%;
      float: left;
      margin-right: -100%;
      clear: none;
      padding-right: 1em;
      margin-top: 1.41429em;
      padding-top: 0em;
      padding-bottom: 0em;
      margin-bottom: 1.41429em; }
      .l-header .l-masthead .l-branding {
        float: left; }
        .l-header .l-masthead .l-branding .l-site-name {
          font-size: 28px;
          font-size: 2rem; }
      .l-header .l-masthead .l-region--navigation {
        margin-left: 48px;
        margin-left: 3.42857rem; }
        .l-header .l-masthead .l-region--navigation .menu {
          font-size: 18px;
          font-size: 1.28571rem;
          margin: 0.5em 0 0.5em 4em; }
          .l-header .l-masthead .l-region--navigation .menu li {
            display: inline;
            margin: 0 2em 0 0; }
    .l-header .l-user {
      width: 25%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none;
      padding-right: 0;
      margin-top: 1.41429em;
      padding-top: 0em;
      padding-bottom: 0em;
      margin-bottom: 1.41429em; }
  .l-main .l-content {
    width: 75%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
    .l-main .l-content .l-constrained {
      width: 70%;
      margin: 0 20% 0 10%;
      padding: 5em 0 4em; }
  .l-main .l-region--sidebar {
    display: block;
    width: 25%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    background: #0A2D50;
    color: #FFF; }
    .l-main .l-region--sidebar .l-constrained {
      width: 55%;
      margin: 0 10% 0 35%;
      padding: 5em 0; }
    .l-main .l-region--sidebar .block--dandelion-notes-menu a {
      color: #2fc5da;
      text-decoration: none; }
      .l-main .l-region--sidebar .block--dandelion-notes-menu a:visited {
        color: #2fc5da; }
      .l-main .l-region--sidebar .block--dandelion-notes-menu a:focus {
        color: #2fc5da; }
      .l-main .l-region--sidebar .block--dandelion-notes-menu a:hover {
        color: #2fc5da; }
      .l-main .l-region--sidebar .block--dandelion-notes-menu a:active {
        color: #2fc5da; }
      .l-main .l-region--sidebar .block--dandelion-notes-menu a:visited {
        text-decoration: none; }
      .l-main .l-region--sidebar .block--dandelion-notes-menu a:active, .l-main .l-region--sidebar .block--dandelion-notes-menu a:focus, .l-main .l-region--sidebar .block--dandelion-notes-menu a:hover {
        text-decoration: underline; }
    .l-main .l-region--sidebar .block--dandelion-notes-menu a.active {
      color: #FFF; }
      .l-main .l-region--sidebar .block--dandelion-notes-menu a.active:visited {
        color: #FFF; }
      .l-main .l-region--sidebar .block--dandelion-notes-menu a.active:focus {
        color: #FFF; }
      .l-main .l-region--sidebar .block--dandelion-notes-menu a.active:hover {
        color: #FFF; }
      .l-main .l-region--sidebar .block--dandelion-notes-menu a.active:active {
        color: #FFF; }
    .l-main .l-region--sidebar .block--dandelion-notes-menu ol, .l-main .l-region--sidebar .block--dandelion-notes-menu ul {
      list-style: none;
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0; }
      .l-main .l-region--sidebar .block--dandelion-notes-menu ol li, .l-main .l-region--sidebar .block--dandelion-notes-menu ul li {
        list-style: none;
        margin-top: 0em;
        padding-top: 0.23571em;
        padding-bottom: 0.23571em;
        margin-bottom: 0em;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0; }
        .l-main .l-region--sidebar .block--dandelion-notes-menu ol li ol, .l-main .l-region--sidebar .block--dandelion-notes-menu ol li ul, .l-main .l-region--sidebar .block--dandelion-notes-menu ul li ol, .l-main .l-region--sidebar .block--dandelion-notes-menu ul li ul {
          margin-top: 0.78571em;
          padding-top: 0em;
          padding-bottom: 0em;
          margin-bottom: 0.78571em;
          padding-left: 1.5em; }
    .l-main .l-region--sidebar .block--dandelion-notes-menu .expanded .menu {
      border-left: 1px solid #20A3B6;
      margin-left: 0.5em; }
    .l-main .l-region--sidebar .block--dandelion-notes-admin ol, .l-main .l-region--sidebar .block--dandelion-notes-admin ul {
      list-style: none;
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0; }
      .l-main .l-region--sidebar .block--dandelion-notes-admin ol li, .l-main .l-region--sidebar .block--dandelion-notes-admin ul li {
        list-style: none;
        margin-top: 0em;
        padding-top: 0.39286em;
        padding-bottom: 0.39286em;
        margin-bottom: 0em;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0; }
    .l-main .l-region--sidebar .block--dandelion-notes-admin a {
      font-size: 12px;
      font-size: 0.85714rem;
      color: #2fc5da;
      background: transparent;
      display: inline-block;
      border-width: 1px;
      border-style: solid;
      border-color: #2fc5da;
      line-height: 1.2;
      font-family: Helvetica, Arial, sans-serif;
      font-weight: bold;
      text-decoration: none;
      cursor: pointer;
      padding: 0.6em 0.8em;
      -webkit-border-radius: 0.33em;
      border-radius: 0.33em;
      font-weight: normal; }
      .l-main .l-region--sidebar .block--dandelion-notes-admin a:visited {
        color: #2fc5da;
        text-decoration: none;
        outline: none; }
      .l-main .l-region--sidebar .block--dandelion-notes-admin a:active, .l-main .l-region--sidebar .block--dandelion-notes-admin a:focus, .l-main .l-region--sidebar .block--dandelion-notes-admin a:hover {
        color: #FFF;
        background: #1b8898;
        border-color: #1b8898;
        text-decoration: none;
        outline: none; }
  .l-footer {
    padding: 2.5em 0; }
    .l-footer .l-constrained {
      width: 82.5%; } }
