@import "bourbon";
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "spinners";

@import "variables";
@import "abstractions";

.figure-table {
  @include rhythm(0, 0.25, 0, 0);
}

/*----------------------------------------------------------------------
>= 752
----------------------------------------------------------------------*/

@include breakpoint($medium) {

  .figure-table {
    @include clearfix;
    @include rhythm(0, 0.25, 0, -1.25);
    width: 100%;

    figure {
      float: left;
      width: 46%;
      margin-left: 2%;
      margin-right: 2%;

      &:nth-child(2n+1) {
        clear: left;
      }
    }
  }

}
