@import "bourbon";
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "spinners";

@import "variables";
@import "abstractions";
@import "base";
@import "components";

body {
  background: $navy;
}

.l-header {
  @include clearfix;
  padding: ($vert-spacing-unit) 0;
  background: $sky;
  color: $white;

  .l-constrained {
    width: 86%;
    margin: 0 auto;
  }

  .l-masthead {
    @include grid-span(6, 1);
    @include rhythm(0.25, 0, 0, 0.25);

    .l-branding {
      .l-logo {
        a[class^="icon-"], a[class*=" icon-"] {
          @include font-size(30px);
          line-height: 1;
        }
      }

      .l-site-name {
        @include font-size(20px);
        @include rhythm(0, 0, 0, 0);

        a {
          @include link-colors($white, $white, $white, $white, $white);
          text-decoration: none;

          &:visited {
            text-decoration: none;
          }

          &:active, &:focus, &:hover {
            text-decoration: underline;
          }
        }

        .blinking-cursor {
          padding-left: 0.15em;
          color: $white;
          font-weight: normal;
          font-size: 1.2em;
          font-family: $sans-serif;
          @include animation(1s blink step-end infinite);

          &:before {
            content: "|";
          }
        }

        @include keyframes(blink) {
          from, to {
            color: transparent;
          }
          50% {
            color: $white;
          }
        }
      }
    }

    .l-region--navigation {
      .menu {
        @include font-size(16px);
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          list-style: none;
          margin: 0;
          padding: 0;

          a {
            @include link-colors($white, $white, $white, $white, $white);
            text-decoration: none;

            &:visited {
              text-decoration: none;
            }

            &:active, &:focus, &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  .l-user {
    @include grid-span(10, 7);
    @include rhythm(0.25, 0, 0, 0.25);

    .menu {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: right;

      li {
        display: inline-block;
        list-style: none;
        margin: 0;
        padding: 0;

        a {
          @include button-primary-small-outline-inverse;
        }
      }
    }
  }
}

.no-bgsizecover {
  .l-header {
    background-image: none !important;
  }
}

.bgsizecover {
  .l-header {
    background-repeat: no-repeat;
    background-position: 50% 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

.l-main {
  @include clearfix;
  background: $navy;

  .l-breadcrumb {
    background: $lighter-grey;
    padding: ($vert-spacing-unit * 0.66) ($horz-spacing-unit);
    @include border-radius($border-radius);

    .breadcrumb {
      @include font-size(13px);

      ol, ul {
        @include rhythm(0, 0, 0, 0);
      }

      li {
        @include rhythm(0, 0, 0, 0);

        a {
          text-decoration: none;

          &:visited {
            text-decoration: none;
          }

          &:active, &:focus, &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .l-content {
    background: $white;
    color: $black;

    .l-constrained {
      width: 86%;
      margin: 0 auto;
      padding: ($vert-spacing-unit * 2) 0 ($vert-spacing-unit * 1);
    }

    .tabs--primary {
      @include font-size(13px);
      @include rhythm(0, 0, 0, 2);
      border-bottom: 1px solid $light-grey;

      li {
        margin: 0 0 -1px;

        a {
          background: none;
          padding: ($vert-spacing-unit * 0.6) ($horz-spacing-unit * 1.5);
          @include link-colors($sky, $black, $black, $sky, $black);
          @include border-top-left-radius($border-radius);
          @include border-top-right-radius($border-radius);

          &:active, &:focus, &:hover {
            background: $lighter-grey;
            text-decoration: none;
          }

          &.active {
            @include link-colors($black, $black, $black, $black, $black);
            border: 1px solid $light-grey;
            border-bottom: none;
            background: $white;
          }
        }
      }
    }

    .user-login,
    .user-pass {
      .form-item {
        @include rhythm(0, 0, 0, 1);

        + .messages-inline {
          @include rhythm(-1, 0, 0, 1);
        }

        .description {
          @include element-hidden;
        }
      }

      input[type="email"],
      input[type="password"],
      input[type="tel"],
      input[type="text"] {
        width: 100%;
        max-width: 20em;
      }
    }
  }

  .l-region--sidebar {
    display: none;
  }
}

.l-footer {
  @include clearfix;
  padding: ($vert-spacing-unit * 0.25) 0;
  background: $navy;
  color: $navy-grey;

  .l-constrained {
    width: 86%;
    margin: 0 auto;
  }

  a {
    @include link-colors($light-sky, $light-sky, $light-sky, $light-sky, $light-sky);
    text-decoration: none;

    &:visited {
      text-decoration: none;
    }

    &:active, &:focus, &:hover {
      text-decoration: underline;
    }
  }

  .block--footer-message {
    text-align: center;

    p {
      @include font-size(12px);
      line-height: ($base-line-height / $em-base);
      @include rhythm(1, 0, 0, 1);
    }
  }

  .block--menu-menu-footer-menu {
    .menu {
      list-style: none;
      margin: ($vert-spacing-unit * -0.5) 0 ($vert-spacing-unit * 1);
      padding: 0;
      text-align: center;

      li {
        display: inline;
        list-style: none;
        margin: 0 ($horz-spacing-unit * 2) 0 0;
        padding: 0;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    a[class^="icon-"], a[class*=" icon-"] {
      @include font-size(30px);
      line-height: 1;
    }
  }
}

/*----------------------------------------------------------------------
>= 752
----------------------------------------------------------------------*/

@include breakpoint($medium) {

  .l-header {
    padding: ($vert-spacing-unit * 1.5) 0;
  }

  .l-main {
    .l-content {
      .l-constrained {
        padding: ($vert-spacing-unit * 3.5) 0 ($vert-spacing-unit * 2);
      }
    }
  }

  .l-footer {
    padding: ($vert-spacing-unit * 1.5) 0;
  }

}

/*----------------------------------------------------------------------
>= 1008
----------------------------------------------------------------------*/

@include breakpoint($large) {

  .l-header {
    padding: ($vert-spacing-unit * 2) 0;

    .l-constrained {
      width: 82.5%;
    }

    .l-masthead {
      @include grid-span(12, 1);
      @include rhythm(0.9, 0, 0, 0.9);

      .l-branding {
        float: left;

        .l-site-name {
          @include font-size(28px);
        }
      }

      .l-region--navigation {
        @include margin-left(48px);

        .menu {
          @include font-size(18px);
          margin: ($vert-spacing-unit * 0.5) 0 ($vert-spacing-unit * 0.5) ($horz-spacing-unit * 4);

          li {
            display: inline;
            margin: 0 ($horz-spacing-unit * 2) 0 0;
          }
        }
      }
    }

    .l-user {
      @include grid-span(4, 13);
      @include rhythm(0.9, 0, 0, 0.9);
    }
  }

  .l-main {
    .l-content {
      @include grid-span(12, 5, $gutter: 0);

      .l-constrained {
        width: 70%;
        margin: 0 20% 0 10%;
        padding: ($vert-spacing-unit * 5.5) 0 ($vert-spacing-unit * 4);
      }
    }

    .l-region--sidebar {
      display: block;
      @include grid-span(4, 1, $gutter: 0);
      background: $navy;
      color: $white;

      .l-constrained {
        width: 55%;
        margin: 0 10% 0 35%;
        padding: ($vert-spacing-unit * 5.5) 0;
      }

      .block--dandelion-notes-menu {
        a {
          @include link-colors($light-sky, $light-sky, $light-sky, $light-sky, $light-sky);
          text-decoration: none;

          &:visited {
            text-decoration: none;
          }

          &:active, &:focus, &:hover {
            text-decoration: underline;
          }
        }

        a.active {
          @include link-colors($white, $white, $white, $white, $white);
        }

        ol, ul {
          list-style: none;
          margin-left: 0;
          margin-right: 0;
          padding-left: 0;
          padding-right: 0;

          li {
            list-style: none;
            @include rhythm(0, 0.15, 0.15, 0);
            margin-left: 0;
            margin-right: 0;
            padding-left: 0;
            padding-right: 0;

            ol, ul {
              @include rhythm(0.5, 0, 0, 0.5);
              padding-left: 1.5em;
            }
          }
        }

        .expanded {
          .menu {
            border-left: 1px solid $sky;
            margin-left: 0.5em;
          }
        }
      }

      .block--dandelion-notes-admin {
        ol, ul {
          list-style: none;
          margin-left: 0;
          margin-right: 0;
          padding-left: 0;
          padding-right: 0;

          li {
            list-style: none;
            @include rhythm(0, 0.25, 0.25, 0);
            margin-left: 0;
            margin-right: 0;
            padding-left: 0;
            padding-right: 0;
          }
        }

        a {
          @include button-secondary-small-outline-inverse;
        }
      }
    }
  }

  .l-footer {
    padding: ($vert-spacing-unit * 2.5) 0;

    .l-constrained {
      width: 82.5%;
    }

    .block--menu-menu-footer-menu {
      .menu {
        margin: 0 0 ($vert-spacing-unit * 1);
      }
    }
  }

}
