@import "bourbon";
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "spinners";

@import "variables";
@import "abstractions";
@import "base";
@import "components";

body {
  background: $navy;
  color: $white;
}

.l-text {
  .l-constrained {
    width: 80%;
    padding: 10% 0;
  }

  .l-header {
    @include rhythm(1, 0, 0, 1);

    .l-site-name {
      @include rhythm(0.5, 0, 0, 0.5);
      line-height: 1.2;
      font-family: $monospace;

      .blinking-cursor {
        padding-left: 0.15em;
        color: $white;
        font-weight: normal;
        font-size: 1.2em;
        font-family: $sans-serif;
        @include animation(1s blink step-end infinite);

        &:before {
          content: "|";
        }
      }

      @include keyframes(blink) {
        from, to {
          color: transparent;
        }
        50% {
          color: $white;
        }
      }
    }
  }

  .l-main {
    @include rhythm(1, 0, 0, 1.5);

    a {
      @include link-colors($white, $white, $white, $white, $white);
    }

    .l-menu {
      @include rhythm(1, 0, 0, 1);

      .menu {
        @include horizontal-list(false);

        li {
          margin-right: $horz-spacing-unit;

          a {
            display: inline-block;
            @include link-colors($white, $navy, $navy, $white, $navy);
            text-decoration: none;
            @include border-radius($border-radius-small);
            border: 1px solid $white;
            padding: ($vert-spacing-unit * 0.5) ($horz-spacing-unit);
            text-transform: uppercase;
            font-weight: bold;

            &:visited {
              text-decoration: none;
            }

            &:active, &:focus, &:hover {
              text-decoration: none;
              background: $white;
            }
          }
        }
      }
    }
  }

  .l-footer {
    color: $navy-grey;

    .l-credit {
      display: none;

      p {
        @include font-size(11px);
      }
    }
  }
}

/*----------------------------------------------------------------------
>= 752
----------------------------------------------------------------------*/

@include breakpoint($medium) {

  .l-image {
    position: fixed;
    width: 50%;
    height: 100%;
  }

  .no-bgsizecover {
    .l-image {
      background-image: none;
    }
  }

  .bgsizecover {
    .l-image {
      background-repeat: no-repeat;
      background-position: center center;
      background-attachment: fixed;

      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
  }

  .l-text {
    margin-left: 50%;

    .l-constrained {
      width: 70%;
      padding: 20% 0;
    }

    .l-main,
    .l-footer {
      max-width: 30em;
    }

    .l-footer {
      .l-credit {
        display: block;
      }
    }
  }

}
