@import "bourbon";
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "spinners";

@import "variables";
@import "abstractions";
@import "base";
@import "components";

body {
  background: $navy;
  color: $white;
}

.l-text {
  .l-header,
  .l-main {
    margin: auto;

    .l-constrained {
      margin: 0;
    }
  }

  .l-header {
    width: 82%;

    .l-constrained {
      padding: 10% 0;
    }

    .l-user {
      .menu {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: right;

        li {
          display: inline-block;
          list-style: none;
          margin: 0;
          padding: 0;

          a {
            @include button-primary-small-outline-inverse;
          }
        }
      }
    }
  }

  .l-main {
    width: 80%;

    .l-constrained {
      padding: 10% 0;
    }

    a {
      @include link-colors($white, $white, $white, $white, $white);
    }

    .l-site-name {
      @include rhythm(0.4, 0, 0, 0.4);
      font-family: $serif;
      font-weight: normal;

      .blinking-cursor {
        padding-left: 0.15em;
        color: $white;
        font-weight: normal;
        font-size: 1.2em;
        font-family: $sans-serif;
        @include animation(1s blink step-end infinite);

        &:before {
          content: "|";
        }
      }

      @include keyframes(blink) {
        from, to {
          color: transparent;
        }
        50% {
          color: $white;
        }
      }
    }

    .l-menu {
      @include rhythm(0.8, 0, 0, 0.8);

      .menu {
        @include horizontal-list(false);

        li {
          margin-right: $horz-spacing-unit;

          &:last-child {
            margin-right: 0;
          }

          a {
            @include button-primary-medium-inverse;
          }
        }
      }
    }

    .l-credit {
      display: none;
      @include rhythm(3, 0, 0, 1);
      color: $navy-grey;

      p {
        @include font-size(11px);
      }
    }
  }
}

/*----------------------------------------------------------------------
>= 752
----------------------------------------------------------------------*/

@include breakpoint($medium) {

  .l-image {
    position: fixed;
    width: 50%;
    height: 100%;
  }

  .l-text {
    margin-left: 50%;

    .l-main {
      width: 72%;

      .l-constrained {
        max-width: 30em;
      }
    }
  }

  .no-bgsizecover {
    .l-image {
      background-image: none !important;
    }
  }

  .bgsizecover {
    .l-image {
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-attachment: fixed;

      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    .l-text {
      .l-credit {
        display: block;
      }
    }
  }

}
