$black         : #222;
$white         : #FFF;
$red           : #DD0000;
$orange        : #FF9900;
$blue          : #006699;
$dark-grey     : #666;
$medium-grey   : #C0C0C0;
$light-grey    : #EEE;
$lightest-grey : #F3F3F3;
$dark-blue     : #0A2D50;
$light-blue    : #22ACBE;
$lightest-blue : #26C0D0;
$pale-blue     : #BBC5CE;
$medium-green  : #52C704;
$light-green   : #F1FEDB;
$yellow        : #F9EC38;
$light-yellow  : #FEFCDB;
