$sans-serif : Helvetica, Arial, sans-serif;
$serif      : Georgia, Times, 'Times New Roman', serif;
$monospace  : Consolas, 'Liberation Mono', Menlo, Courier, monospace;

$em-base: 14px;
$base-font-size: $em-base;
$base-line-height: 22px;
