$sans-serif : Helvetica, Arial, sans-serif;
$serif      : Georgia, serif;
$monospace  : Consolas, 'Liberation Mono', Menlo, Courier, monospace;
$icomoon    : 'icomoon';

$em-base: 14px;
$base-font-size: $em-base;
$base-line-height: 21px;
