@mixin button-small($equal:"") {
  @if $equal == "" {
    padding: ($vert-spacing-unit * 0.6) ($horz-spacing-unit * 0.8);
  }
  @else {
    padding: ($vert-spacing-unit * 0.6);
  }
}

@mixin button-medium($equal:"") {
  @if $equal == "" {
    padding: ($vert-spacing-unit * 0.8) ($horz-spacing-unit * 1.4);
  }
  @else {
    padding: ($vert-spacing-unit * 0.8);
  }
}

@mixin button-large($equal:"") {
  @if $equal == "" {
    padding: ($vert-spacing-unit * 1.5) ($horz-spacing-unit * 2.5);
  }
  @else {
    padding: ($vert-spacing-unit * 1.5);
  }
}

@mixin button-square {
  @include border-radius(0);
}

@mixin button-round-small {
  @include border-radius($border-radius);
}

@mixin button-round-medium {
  @include border-radius($border-radius);
}

@mixin button-circle {
  @include border-radius(100%);
  line-height: 1;
}

@mixin button-circle-small {
  @include button-circle;
  padding: 0.5625em;
}

@mixin button($font-size, $color, $background:"", $border:"", $hover-color:"", $hover-background:"", $hover-border:"") {
  @if $hover-color == "" {
    $hover-color : $color;
  }
  @if $hover-background == "" {
    $hover-background : $background;
  }
  @if $hover-border == "" {
    $hover-border : $border;
  }

  @include font-size($font-size);
  color: $color;

  @if $background != "" {
    background: $background;
  }

  display: inline-block;
  border-width: 1px;
  border-style: solid;

  @if $border != "" {
    border-color: $border;
  }

  line-height: 1.2;
  font-family: $sans-serif;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;

  &:visited {
    color: $color;
    text-decoration: none;
    outline: none;
  }

  &:active, &:focus, &:hover {
    color: $hover-color;

    @if $hover-background != "" {
      background: $hover-background;
    }

    @if $hover-border != "" {
      border-color: $hover-border;
    }

    text-decoration: none;
    outline: none;
  }
}

@mixin button-with-icon($text-font-size, $icon-font-size, $color, $background:"", $border:"", $hover-color:"", $hover-background:"", $hover-border:"") {
  @include button($text-font-size, $color, $background, $border, $hover-color, $hover-background, $hover-border);

  .icon {
    @include font-size($icon-font-size);
  }

  .text {
    padding-left: 0.5em;
  }
}

@mixin button-anchor {
  .text {
    &:active, &:focus, &:hover {
      text-decoration: underline;
    }
  }
}

@mixin button-primary-small-inverse {
  @include button(12px, $white, $dark-sky, $dark-sky, $navy, $white, $white);
  @include button-small;
  @include button-round-small;
  font-weight: normal;
}

@mixin button-primary-small-outline {
  @include button(12px, $navy, transparent, $navy, $white, $dark-sky, $dark-sky);
  @include button-small;
  @include button-round-small;
  font-weight: normal;
}

@mixin button-primary-small-outline-inverse {
  @include button(12px, $white, transparent, $white, $white, $dark-sky, $dark-sky);
  @include button-small;
  @include button-round-small;
  font-weight: normal;
}

@mixin button-primary-medium {
  @include button(13px, $white, $navy, $navy, $white, $dark-sky, $dark-sky);
  @include button-medium;
  @include button-round-medium;
  font-weight: bold;
}

@mixin button-primary-medium-inverse {
  @include button(13px, $white, $dark-sky, $dark-sky, $navy, $white, $white);
  @include button-medium;
  @include button-round-medium;
  font-weight: bold;
}

@mixin button-primary-medium-outline-inverse {
  @include button(13px, $white, transparent, $white, $white, $dark-sky, $dark-sky);
  @include button-medium;
  @include button-round-medium;
  font-weight: bold;
}

@mixin button-secondary-small-inverse {
  @include button(12px, $white, $dark-sky, $dark-sky, $white, $dark-sky, $dark-sky);
  @include button-small;
  @include button-round-small;
  font-weight: normal;
}

@mixin button-secondary-small-outline {
  @include button(12px, $grey, transparent, $light-grey, $white, $dark-sky, $dark-sky);
  @include button-small;
  @include button-round-small;
  font-weight: normal;
}

@mixin button-secondary-small-outline-inverse {
  @include button(12px, $light-sky, transparent, $light-sky, $white, $dark-sky, $dark-sky);
  @include button-small;
  @include button-round-small;
  font-weight: normal;
}

@mixin button-secondary-medium-inverse {
  @include button(13px, $white, $dark-sky, $dark-sky, $white, $dark-sky, $dark-sky);
  @include button-medium;
  @include button-round-medium;
  font-weight: bold;
}

@mixin button-secondary-medium-outline-inverse {
  @include button(13px, $light-sky, transparent, $light-sky, $white, $dark-sky, $dark-sky);
  @include button-medium;
  @include button-round-medium;
  font-weight: bold;
}
