@import "bourbon";
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "spinners";

@import "variables";
@import "abstractions";

.l-region--page-title,
.l-region--page-body {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include rhythm(1, 0, 0.1, 0.75);
    border-bottom: 1px solid $light-grey;
  }
}

.l-region--page-title {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
  }
}

.l-region--page-updated {
  @include rhythm(1.5, 0, 0, 1);

  .pane-node-updated {
    font-family: $monospace;

    p {
      @include font-size(12px);
      @include rhythm(1, 0, 0, 1);
      color: $grey;
    }
  }
}

/*----------------------------------------------------------------------
>= 1008
----------------------------------------------------------------------*/

@include breakpoint($large) {

  .l-region--page-updated {
    @include rhythm(2, 0, 0, 1);
  }

}
