@import "bourbon";
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "spinners";

@import "variables";
@import "abstractions";

.l-region--page-title,
.l-region--page-body {
  h1,
  h2 {
    border-bottom: 1px solid $light-grey;
  }
}

.l-region--page-title {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
  }
}

.l-region--page-body {
  a {
    text-decoration: underline;

    &:visited {
      text-decoration: underline;
    }

    &:active, &:focus, &:hover {
      text-decoration: none;
    }

    &:not(.see-footnote) {
      @include word-wrap;
    }
  }

  a.see-footnote,
  a.footnote-label {
    text-decoration: none;

    &:visited {
      text-decoration: none;
    }

    &:active, &:focus, &:hover {
      text-decoration: underline;
    }
  }

  figure {
    text-align: center;

    figcaption {
      @include font-size(13px);
      padding: ($vert-spacing-unit * 0.75) 0 0;
      text-align: center;
    }
  }

  picture {
    width: 100%;
    height: auto;

    img {
      width: 100%;
      max-width: none;
    }
  }
}

.l-region--page-updated {
  @include rhythm(2.25, 0, 0, 1);

  .pane-node-updated {
    font-family: $monospace;

    p {
      @include font-size(12px);
      @include rhythm(1, 0.5, 0, 1);
      color: $grey;
      border-top: 1px solid $light-grey;
    }
  }
}
